@charset "UTF-8";
@import url("reset.css");
:root {
  /* padding */
  --padding-standard: 1em;

  /* color */
  --color-white: #ffffff;
  --color-red: #e53935;

  /* size */
  --font-size-micro: 0.6em;
  --font-size-small: 0.8em;
  --font-size-medium: 1em;
  --font-size-large: 1.2em;
}

/* momonto body */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.weather {
  width: 100%;
  text-align: right;
  margin-right: var(--padding-standard);
}

.weather .weatherInfo {
  font-size: var(--font-size-micro);
  color: var(--color-white);
}
